.intro
  .titles
    .headline Diary
    hr
    a(href="#orientation").title.t1 Login

.slides


  .slide.slide1
    a(name="orientation")
    .blurb
      .title Orientation
      .sub Answers the Question:
        strong Please Log in
